# Server
PORT=4000
CORS_ORIGIN=http://localhost:19006,http://localhost:3000

# MongoDB
MONGODB_URI=mongodb+srv://NagarMitra:<db_password>@clusternagarmitra.g2floar.mongodb.net/
MONGODB_DB=NagarMitra

# AWS (to be filled later)
AWS_REGION=ap-south-1
S3_BUCKET=nagarmitra-media-dev

# JWT (to be added when auth is implemented)
ACCESS_TOKEN_SECRET=changeme
REFRESH_TOKEN_SECRET=changeme
